.border-radius{
  padding: 15px;
  border: 5px solid black;
  border-radius: 200px;
}

.navbar-text {
  font-family: 'Odibee Sans', cursive;
  text-decoration: none;
  font-size: 30px;
  color: rgb(255, 255, 255) !important;
}

.card{
  box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
}

.card-deck {
  margin-top: 150px;
}
