<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Katalog</title>
    </head>
    <body>

    <!-- navbar -->
    <div class="container mb-5">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

            <!-- logo toko -->
            <a class="navbar-brand" href="/views/app.html"><img src="/src/img/Logo.jpg" class="rounded-circle" alt="2 Degrees" width="65px"></a>

            <!-- navbar text -->
            <span class="navbar-text">Katalog Sepatu</span>
            <ul class="navbar-nav ml-5">

                <!-- navbar item -->
                <li class="nav-item">
                    <a class="nav-link" href="/views/app.html"><button type="button" class="btn btn-warning border-radius">Katalog</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/profile.html"><button type="button" class="btn btn-warning border-radius">Tentang Kami</button></a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- card deck -->
    <div class="card-deck">

        <!-- first card -->
        <div class="col-sm-4 mb-5">    
            <div class="card h-100">
            <img src="/src/img/compass_1.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sepatu Compass Hijau</h5>
                    <p class="card-text">Rentang Retrograde merayakan warisan Kompas dengan mengambil inspirasi dari arsip merek pelopornya, Gazelle®️. Setiap detail Retrograde menceritakan sebuah kisah dan dirancang untuk membangkitkan rasa bangga saat dikenakan.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <!-- second card -->
        <div class="col-sm-4 mb-5">
            <div class="card h-100">
            <img src="/src/img/compass_2.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sepatu Compass Merah</h5>
                    <p class="card-text">Terinspirasi oleh tahun 1950-an, Gazelle Hi mengambil siluet ikonik dan memberinya sentuhan Kompas. Hi-cut menambahkan sikap pada gaya Gazelle klasik, menjadikannya abadi dan segar.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <!-- third card -->
        <div class="col-sm-4 mb-5">
            <div class="card h-100">
            <img src="/src/img/compass_3.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sepatu Compass Biru</h5>
                    <p class="card-text">Edisi terbatas Compass®️ Seasonal 2022. Desain ini terinspirasi dari hamparan laut luas, karang-karang penopang, dan pasir putih yang terbentang. Kami hadirkan Compass Retrograde edisi Linen.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <!-- fourth card -->
        <div class="col-sm-4 mb-5">
            <div class="card h-100">
                <img src="/src/img/compass_4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sepatu Compass Classic</h5>
                    <p class="card-text">Rentang Retrograde merayakan warisan Compass®️ dengan menarik inspirasi dari arsip merek pelopornya, Gazelle®️. Setiap detail Retrograde menceritakan sebuah kisah dan dirancang untuk membangkitkan rasa bangga saat dikenakan.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        
        <!-- fifth card -->
        <div class="col-sm-4 mb-5">
            <div class="card h-100">
                <img src="/src/img/compass_5.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sepatu Compass Classic V2</h5>
                    <p class="card-text">Siluet asli Compass yang memulai semuanya pada tahun 1998. Didesain ulang untuk memadukan vintage klasik dengan detail modern, Gazelle Low adalah alas kaki ideal Anda setiap hari. Desainnya yang berpotongan rendah mewujudkan gaya santai dan mudah yang serbaguna untuk semua kesempatan dan penampilan.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <!-- sixth card -->
        <div class="col-sm-4 mb-5">
            <div class="card h-100">
                <img src="/src/img/compass_6.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sepatu Compass Classic V3</h5>
                    <p class="card-text">Terinspirasi oleh tahun 1950-an, Gazelle Hi mengambil siluet ikonik dan memberinya sentuhan Kompas. Hi-cut menambahkan sikap pada gaya Gazelle klasik, menjadikannya abadi dan segar.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
